@use "sass:color";

// Our variables
$base-font-family: "Libertinus Serif", serif;
$base-font-size: 18px;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;
$spacing-unit-line: 7px;

$text-color: #c0c0c0;
$background-color: #080813;
$brand-color: #5184e4;
$brand-color-secondary: #b1461c;
$brand-color-dark: #612a15;

$text-color-light: #e0e0e0;
$text-color-dark: #a0a0a0;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

$on-palm: 750px;
$on-laptop: 800px;
