---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <dl class="tag-list">
    <dt>Sources:</dt>
      {% for source in page.sources %}
      <dd>{{source}}</dd>
      {% endfor %}
    </dl>
    <dl class="tag-list">
      <dt>Tags:</dt>
      {% for tag in page.tags %}
      <dd>
          {% if tag == 'cantrip' or tag contains 'level' %}
            <a href="{{site.baseurl}}/#{{tag}}">{{tag}}</a>
          {% else %}
            <a href="{{site.baseurl}}/tags/{{tag}}.html">{{tag}}</a>
          {% endif %}
      </dd>
      {% endfor %}
    </dl>
    {% if page.subtags %}
      <dl class="tag-list">
        <dt>Subtags:</dt>
        {% for sub in page.subtags %}
        <dd>
          {% for item in sub %}
          <a href="{{site.baseurl}}/tags/{{item[0]}}-{{item[1]}}.html">{{item[0]}} ({{item[1]}})</a>
          {% endfor %}
        </dd>
        {% endfor %}
      </dl>
    {% endif %}
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
