<!DOCTYPE html>
<html>

{% include head.html %}

<body class="class-list">
	{% include header.html %}

	<div class="page-content">
		<div class="wrapper">
			<h1 class="page-heading">{{page.title}}</h1>
			<p id="spellSearch">Search by name: <input type="search" id="jetsSearch" class="jetsSearch"></p>
			<p id="tagSearch">Search by tag: <input type="search" name="tagSearch" id="tagSearchBar" class="jetsSearch"></p>
			<dl class="tag-list">
				<dt>Spell tier:</dt>
				{% for level in site.data.levels %}
				<dd>
					<a href="#{{level.tag}}">{{level.name}}</a>
				</dd>
				{% endfor %}
			</dl>

			{% for level in site.data.levels %}
			<a id="{{level.tag}}"></a>
			<h2 class="post-list-head jetsHide">{{level.title}}</h2>
			{% assign post_list = site.tags.[{{level.tag}}] | sort: 'title' %}
			{% for post in post_list %}
			{% for tag in post.tags %}
			{% if tag == page.tag %}
			<ul class="post-list jetsContent">
				<li data-tags="{{ post.tags | join: ',' }}">
					<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</li>
			</ul>
			{% endif %}
			{% endfor %}
			{% endfor %}
			<a class="post-meta jetsHide" href="#top">Back to top &#8593;</a>
			{% endfor %}
		</div>
	</div>

	{% include footer.html %}

</body>

</html>
